<h2 class="titulo">¡Los servicios que brindamos!</h2>
<div class="contenedor-servicios">
  <div class="tarjeta-servicio">
    <img src="assets/img/servicio.jpg" alt="Imagen servicio" class="imagen-servicio">
    <h3 class="titulo-servicio">Ordenamiento</h3>
    <p class="descripcion">Organiza tu espacio de manera práctica y eficiente para vivir con tranquilidad y armonía.</p>
    <button routerLink="/home-spaces">Ir</button>
  </div>

  <div class="tarjeta-servicio">
    <img src="assets/img/servicio.jpg" alt="Imagen servicio" class="imagen-servicio">
    <h3 class="titulo-servicio">Remodelación</h3>
    <p class="descripcion">Transforma y renueva tus ambientes para crear espacios funcionales y llenos de estilo.</p>
    <button routerLink="/home-spaces">Ir</button>
  </div>
</div>
