
<div class="contenedor-espacios">
  <div class="tarjeta-espacio">
    <img src="/assets/img/espacio.png" alt="Área de trabajo" class="imagen-espacio">
    <h3>Área de trabajo</h3>
    <p>Consejos para una zona productiva.</p>
    <button routerLink="/servicios">Ver más</button>
  </div>

  <div class="tarjeta-espacio">
    <img src="assets/images/espacio.png" alt="Dormitorio" class="imagen-espacio">
    <h3>Dormitorio</h3>
    <p>Tips para un mejor descanso.</p>
    <button routerLink="/servicios">Ver más</button>
  </div>

  <div class="tarjeta-espacio">
    <img src="assets/img/bano.jpg" alt="Baño" class="imagen-espacio">
    <h3>Baño</h3>
    <p>Ideas para organizar el baño.</p>
    <button routerLink="/servicios">Ver más</button>
  </div>

  <div class="tarjeta-espacio">
    <img src="assets/img/sala.jpg" alt="Sala" class="imagen-espacio">
    <h3>Sala</h3>
    <p>Haz de tu sala un espacio acogedor.</p>
    <button routerLink="/servicios">Ver más</button>
  </div>

  <div class="tarjeta-espacio">
    <img src="assets/img/cocina.jpg" alt="Cocina" class="imagen-espacio">
    <h3>Cocina</h3>
    <p>Organización y funcionalidad.</p>
    <button routerLink="/servicios">Ver más</button>
  </div>
</div>
